.dark_theme {
   --bg-color: #221b22;
   --inverted-bg-color: #e2e2e2;

   --primary-color: rgb(201, 201, 201);
   --secondary-color: rgb(156, 156, 156);

   --inverted-primary-color: rgb(59, 59, 59);
   --inverted-secondary-color: rgb(102, 101, 101);

   --skeleton-bg-color: #3c323c;
   --skeleton-gradient-400: #382e38;
   --skeleton-gradient-500: #2a232a;
   --skeleton-gradient-600: #382e38;

   --code-bg: #2e242e;

   --card-bg: #2e242e;
}