.light_theme {
   --bg-color: #e2e2e2;
   --inverted-bg-color: #221b22;

   --primary-color: rgb(59, 59, 59);
   --secondary-color: rgb(102, 101, 101);

   --inverted-primary-color: rgb(201, 201, 201);
   --inverted-secondary-color: rgb(156, 156, 156);

   --skeleton-bg-color: #c8c8c8;
   --skeleton-gradient-400: #a2a2a399;
   --skeleton-gradient-500: #7d7d8099;
   --skeleton-gradient-600: #a2a2a399;

   --code-bg: #d8d6d6;

   --card-bg: #d8d6d6;

}